* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 98px;
  height: 96px;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.stars :first-child {
  margin-left: 2px;
}

.stars--0 :nth-child(n) {
  margin-top: 2px;
}

.star {
  flex-basis: 16px;
  height: 16px;
  background-image: url("./images/star.svg");
  background-repeat: no-repeat;
}

.stars--1 :first-child {
  background-image: url("./images/star-active.svg");
}

.stars--2 :nth-child(-n + 2) {
  background-image: url("./images/star-active.svg");
}

.stars--3 :nth-child(-n + 3) {
  background-image: url("./images/star-active.svg");
}

.stars--4 :not(:last-child) {
  background-image: url("./images/star-active.svg");
}

.stars--5 * {
  background-image: url("./images/star-active.svg");
}
